.d-flex{
  display: flex;
}
.justify-beetween{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-column{
  flex-direction: column;
}
.justify-around{
  justify-content: space-around;
}
.justify-center{
  justify-content: center;
}
.justufy-start{
  justify-content: flex-start;
}