main {
  padding: 80px 15px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb10 {
  margin-bottom: 10px;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.backround-gray {
  border-radius: 6px;
  background: #D0D8DF;
  padding: 2px 8px;
}
.grid_table{
  display: grid;
  grid-template-columns: 2fr 1fr auto;
  gap: 20px;
  @include max-screen(768px){
    gap: 10px;
  }
}

main {
  .example_docs {
    padding: 0 15px;

    .container {

      padding: 0 15px;

      .table {
        margin-bottom: 80px;

        a {
          text-decoration: none;
          color: $blue;
        }

        h4 {
          color: $textColor;
          font-size: 24px;
          font-family: $arialBold;
          font-style: normal;
          font-weight: 700;
          line-height: 30px;
          margin-bottom: 24px;

        }

        .th {
          background: #6B7487;
          color: #FFF;
          text-align: center;
          font-size: 14px;
          font-family: $arialBold;
          font-style: normal;
          font-weight: 700;
          line-height: 25.2px;
          letter-spacing: 0.35px;
          padding: 15px 0;
          @include max-screen(991px) {
            font-size: 12px;
            line-height: 12.5px;
          }
          @include max-screen(575px) {
            padding: 5px 0;
          }
        }

        .tcol1 {
          color: $textColor;
          font-size: 14px;
          font-family: $arialBold;
          font-style: normal;
          font-weight: 700;
          line-height: 25.2px;
          letter-spacing: 0.35px;
          @include max-screen(991px) {
            font-size: 12px;
            line-height: 12.5px;
          }
          @include max-screen(768px){
            font-size: 10px;
          }

          span {

            @include max-screen(991px) {
              font-size: 12px;
              line-height: 12.5px;
            }
            @include max-screen(768px) {
              font-size: 10px;
              margin-left: 0;

            }
          }
        }
      }

      .tcol2, .tcol3 {
        color: $textColor;
        font-size: 14px;
        font-family: $arialRegular;
        font-style: normal;
        font-weight: 400;
        line-height: 25.2px;
        letter-spacing: 0.35px;
        @include max-screen(991px) {
          font-size: 12px;
          line-height: 12.5px;
        }
      }

    }
  }
}

.doc_blocks {
  img {
    width: 100%;
    margin-bottom: 24px;
  }

  h2 {
    color: $textColor;
    text-align: center;
    font-size: 32px;
    font-family: $arialBold;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.64px;
    margin-bottom: 60px;
  }

  h4 {
    color: $textColor;
    font-size: 24px;
    font-family: $arialBold;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 24px;
    text-align: left;

  }

  p {
    color: $textColor;
    font-size: 14px;
    font-family: $arialRegular;
    line-height: 25.2px;
    letter-spacing: 0.35px;
    margin-bottom: 30px;
    text-align: left;

    a {
      text-decoration: none;
      color: $blue;
    }

  }
}

.paragraph {
  color: $textColor;
  font-size: 14px;
  font-family: $arialRegular;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0.35px;
  margin-bottom: 24px;

  a {
    color: $blue;
    text-decoration: none;

  }
}

.color-orange {
  margin-left: 3px;
  border-radius: 4px;
  background: #D9D9D9;
  color: $requiredColor;
  font-size: 14px;
  font-family: $arialBold;
  font-style: normal;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: 0.35px;
  text-transform: uppercase;
}
