header {
  background: $white;
  padding: 10px 15px;
  margin-bottom: 83px;

  .container {
    max-width: 1140px;
    margin: auto;

    .list {
      li {
        margin: 0 23.5px 0;

        a {
          text-decoration: none;

          color: $dark;
          font-size: 18px;
          font-family:$inter;
          font-weight: 600;
          line-height: 22px;
        }
      }
    }

    .header_link_right {
      a {
        text-decoration: none;
        color: $dark;
        font-size: 18px;
        font-family:$inter;
        font-weight: 600;
        line-height: 22px;

        &:last-of-type {
          margin-left: 20px;
          padding: 8px 24px;
          background-color:$green ;
          border-radius: 30px;
        }
        &:last-of-type:hover{
          color: $white;
        }
      }
    }
  }
}
