.main_banner {
  background: linear-gradient(180deg, #FFF 0%, #F4F8FF 100%);
  padding: 0 15px 122px;

  .container {
    max-width: 1180px;
    margin: auto;

    .heropage_component_info {
      padding: 70px 0;

      h4 {
        color: $dark;
        font-size: 14px;
        font-family: $iawriterduov;
        font-weight: 650;
        line-height: 22px;
        border-radius: 4px;
        background: $backgroundGreen;
        padding: 4px 12px;
        display: inline-block;
        margin-bottom: 20px;
      }

      h1 {
        color: $dark;
        font-size: 48px;
        font-family: $inter;
        font-weight: 600;
        line-height: 120%;
        margin: 0 0 22px 0;
      }

      p {
        color: $greyBody;
        font-size: 20px;
        font-family: $iawriterduov;
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 54px;
      }

      a {
        text-decoration: none;
        color: $black;
        font-size: 18px;
        font-family: $inter;
        font-weight: 600;
        line-height: 28px;
        padding: 14px 32px;
        border-radius: 10px;
        background-color: $green;
      }
    }

    .image_main {
      padding: 33px 0;
      position: relative;
      left: 60px;
    }
  }
}


.flexbox_group {
  justify-content: space-around;
  margin-right: 30px;
  margin-left: 30px;

  .flex-gap {
    gap: 10px;
  }

  p {
    color: $greyBody;
    font-size: 16px;
    font-family: $iawriterduov;
    line-height: 20px;
  }
}

@media (max-width: 1300px) {
  .col-6 {
    width: 50%;
  }
}

@media(max-width: 1024px) {
  .main_banner {
    .container {
      .heropage_component_container {
        .heropage_component_info {
          h1 {
            font-size: 30px;
          }
        }

        .image_main {
          svg {
            max-width: 70%;
          }
        }
      }
    }
  }
}
@media(max-width: 991px){
  .flexbox_group {
    margin-left: 15px;
    margin-right: 15px;
    p{
      font-size: 12px;
    }
  }
}
@media(max-width: 767px){
  .main_banner{
    padding: 0 15px;
    text-align: center;
  }
  .heropage_component_info{
    width: 100%;
  }
  .image_main{
    display: none;

  }
  .flexbox_group{
    display: none;
  }
}
@media(max-width: 575px){
  .heropage_component_info{
    padding: 35px 0;
    p{
      font-size: 18px;
      margin-bottom: 35px;
    }
  }
}