.pricing {
  padding: 120px 94px;
  background-color: $white;

  .container {
    max-width: 1252px;
    min-width: 360px;
    margin: auto;

    h2 {
      color: $dark;
      text-align: center;
      font-size: 48px;
      font-family: $inter;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 73px;
    }

    .price_cols {
      margin-bottom: 73px;
      gap: 50px;

      article {
        text-align: center;

        h4 {
          color: $dark;
          text-align: center;
          font-size: 20px;
          font-family: $inter;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          margin-bottom: 18px;
        }

        /*

        svg {
          margin-bottom: 31px;
        }
        */

        a {
          color: $dark;
          font-size: 18px;
          font-family: $inter;
          font-weight: 600;
          line-height: 28px;
          border-radius: 10px;
          background: $green;
          padding: 14px 32px;
          margin-bottom: 44px;
          text-decoration: none;

          &:hover {
            color: $white;
          }
        }

        p {
          color: $dark;
          text-align: center;
          font-size: 16px;
          font-family: $iawriterduov;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0.4px;
          margin-bottom: 18px;

          &:nth-child(5) {
            color: $dark;
            text-align: center;
            font-size: 16px;
            font-family: $iawriterduov;
            line-height: 20px;
            letter-spacing: 0.4px;
            font-weight: 400;
          }
        }


      }
    }
  }
}

.pricing_wrapper {
  p {
    color: $greyBody;
    text-align: center;
    font-size: 16px;
    font-family: $iawriterduov;
    line-height: 120%;

    a {
      text-decoration: none;
      color: #1764FF;
    }
  }
}

.price {
  text-align: start;
  gap: 6px;
  margin-bottom: 16px;

  span {
    color: $dark;

    font-size: 32px;
    font-family: $inter;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: 0.8px;

    &:nth-child(2) {
      color: $dark;
      font-size: 14px;
      font-family: $iawriterduov;
      line-height: 15px;
      letter-spacing: 0.35px;
    }
  }
}

@media (max-width: 1265px) {
  .pricing {
    padding: 60px 15px;

    .container {
      .price_cols {
        gap: 30px;

        article {
        }

        a {
          padding: 14px 30px;
        }

      }
    }
  }
}

@media (max-width: 1024px) {
  .pricing {
    padding: 60px 0;

    .container {
      .price_cols {
        gap: 30px;

        article {
        }

        a {
          padding: 14px 30px;
        }

      }
    }
  }

}

/*@media (max-width: 991px) {
  .pricing {
    padding: 60px 15px;

    .container {
      h2 {
        font-size: 42px;
      }
      .price_cols {
        gap: 30px;
        article {
          h4 {
            font-size: 18px;
            margin-bottom: 16px;
          }
          .price {
            span {
              &:nth-child(2) {

              }
            }
          }

          a {
            padding: 14px 30px;
            font-size: 16px;
            margin-bottom: 40px;
          }

          p {
            font-size: 14px;
            line-height: 18px;
            &:nth-child(5) {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }


      }

      .pricing_wrapper {
        p {
        }

        a {
        }
      }
    }
  }
}*/
@media (max-width: 991px) {
  .pricing {
    padding: 60px 15px;

    .container {
      h2 {
        font-size: 36px;
      }

      .price_cols {
        gap: 25px;

        article {
          h4 {
            font-size: 16px;
            margin-bottom: 12px;
          }

          .price {
            span {
              font-size: 26px;

              &:nth-child(2) {
                font-size: 10px;
              }
            }
          }

          a {
            padding: 8px 16px;
            font-size: 14px;
            margin-bottom: 30px;
          }

          p {
            font-size: 12px;
            line-height: 16px;

            &:nth-child(5) {
              font-size: 12px;
              line-height: 16px;
            }
          }
        }


      }

      .pricing_wrapper {
        p {
          font-size: 12px;
        }

        a {
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .pricing {
    padding: 40px 15px;

    .container {
      h2 {
        font-size: 32px;
      }

      .price_cols {
        gap: 25px;
        flex-wrap: wrap;
        margin-bottom: 40px;

        article {
          h4 {
            font-size: 16px;
            margin-bottom: 12px;
          }

          .price {
            span {
              font-size: 26px;

              &:nth-child(2) {
                font-size: 10px;
              }
            }
          }

          a {
            padding: 8px 16px;
            font-size: 14px;
            margin-bottom: 30px;
          }

          p {
            font-size: 12px;
            line-height: 16px;

            &:nth-child(5) {
              font-size: 12px;
              line-height: 16px;
            }
          }
        }


      }

      .pricing_wrapper {
        p {
          font-size: 12px;
        }

        a {
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .pricing {
    padding: 40px 15px;

    .container {
      h2 {
        font-size: 28px;
      }

      .price_cols {
        gap: 25px;
        flex-wrap: wrap;
        margin-bottom: 40px;

        article {
          h4 {
            font-size: 16px;
            margin-bottom: 12px;
          }

          .price {
            span {
              font-size: 26px;

              &:nth-child(2) {
                font-size: 10px;
              }
            }
          }

          a {
            padding: 8px 16px;
            font-size: 14px;
            margin-bottom: 30px;
          }

          p {
            font-size: 12px;
            line-height: 16px;

            &:nth-child(5) {
              font-size: 12px;
              line-height: 16px;
            }
          }
        }


      }

      .pricing_wrapper {
        p {
          font-size: 12px;
        }

        a {
        }
      }
    }
  }
}
@media (max-width: 428px) {
  .pricing {
    padding: 20px 0;

    .container {
      h2 {
        font-size: 28px;
        margin-bottom: 20px;
      }

      .price_cols {
        gap: 25px;
        flex-wrap: wrap;
        margin-bottom: 20px;

        article {

          h4 {
            font-size: 14px;
            margin-bottom: 0;
          }

          .price {
            margin-bottom: 0;
            span {
              font-size: 26px;

              &:nth-child(2) {
                font-size: 10px;
              }
            }
          }

          a {
            padding: 4px 8px;
            font-size: 12px;
            margin-bottom: 10px;
          }

          p {
            font-size: 10px;
            line-height: 16px;
            margin-bottom: 5px;

            &:nth-child(5) {
              font-size: 10px;
              line-height: 16px;
            }
          }
        }


      }

      .pricing_wrapper {
        p {
          font-size: 10px;
        }

        a {
        }
      }
    }
  }
}