.clients_review {
  background: $softBlue;
  padding: 60px 150px 100px;

  .container {
    max-width: 1140px;
    margin: auto;
  }

  .review_wrapper {
    h2 {
      color: $dark;
      text-align: center;
      font-size: 48px;
      font-family:$inter;
      font-weight: 600;
      line-height: 60px;
      margin-bottom: 70px;
    }

    .review_cals {
      gap: 45px;
      p {
        color: $greyBody;
        font-size: 16px;
        font-family: $iawriterduov;
        line-height: 120%;
        margin-bottom: 20px;
        &:nth-child(2){
          color:$dark;
          font-size: 16px;
          font-family:'Inter', sans-serif;
          font-weight: 600;
          line-height: 30px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .clients_review{
    padding: 60px 15px 60px;
    .container{
      .review_wrapper{
        h2{}
        .review_cals{
          article{
            p{
              &:nth-child(2){

              }
            }
          }
        }
      }
    }
  }
  
}
@media (max-width: 991px) {
  .clients_review{
    .container{
      .review_wrapper{
        h2{
          font-size: 40px;
          line-height: 50px;
          margin-bottom:35px ;
        }
        .review_cals{
          gap: 20px;
          article{
            p{
              line-height: 100%;
              font-size: 14px;
              &:nth-child(2){

              }
            }
          }
        }
      }
    }
  }

}
@media (max-width: 767px) {
  .clients_review{
    .container{
      .review_wrapper{
        h2{
          font-size: 32px;
          line-height: 45px;
        }
        .review_cals{
          article{
            p{
              &:nth-child(2){

              }
            }
          }
        }
      }
    }
  }

}
@media (max-width: 575px) {
  .clients_review{
    padding: 15px 15px 15px;
    .container{
      .review_wrapper{
        h2{
          font-size: 26px;
          margin-bottom: 20px;
          line-height: 25px;
        }
        .review_cals{
          flex-direction: column;
          text-align: center;
          article{
            p{
              &:nth-child(2){

              }
            }
          }
        }
      }
    }
  }

}