//fonts
$ariaRegular:'arialregular';
$ariaItalic:'arialitalic';
$ariaBold:'arialbold';
/*$interRegular:'interregular';
$interMedium:'intermedium';
$interSemiBold:'intersemi_bold';
$interBold:'interbold';
$robotoRegular:'robotoregular';*/
$inter: 'Inter', sans-serif;
$roboto:'Poppins', sans-serif;
$iawriterduov:'ia_writer_duo_vregular';

//colors products:email page
$white:#FFFFFF;
$dark:#001133;
$green:#01F4AB;
$greyBody:#333C4D;
$lightGrey:#E7E7E7;
$softBlue:#F6F9FF;
$backgroundGreen:#D1FFF1;
$linearGradient:#FFFFFF, #F4F8FF;
$black:#000000;
//colors example of documentation page
$textColor:#1B1643;
$titleTableBg:#404758;
$linkColor:#687DED;
$errorcodeBg:#D0D8DF;
$requiredGg:#D9D9D9;
$requiredColor:#E56F4A;
//colors form page
$leftPartOfFormBg:#F9FAFB;
$textgraycolor:#4B5563;