@import "reset";
@import "normalize";
@import "fonts";
@import "vars";
@import "header";




*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.d-flex{
  display: flex;
}
.justify-beetween{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}