//fonts
$ariaRegular:'arialregular';
$ariaItalic:'arialitalic';
$ariaBold:'arialbold';
$interRegular:'interregular';
$interMedium:'intermedium';
$interSemiBold:'intersemi_bold';
$interBold:'interbold';
$robotoRegular:'robotoregular';
$iawriterduov:'ia_writer_duo_vregular';